@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
    width: 100%;
    max-width: 425px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url('./assets/3494734.jpg');
}

section {
    max-height: fit-content;
    height: 100vh;
}

section.main {
    background-color: white;
}

div#dear-container{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./assets/dear-card.png");
}

div.container-dear-card {
    display: flex;
    align-items: center;
    height: 100vh;
}

section#dear-card {
    width: 100%;
}

section#dear-card div.center {
    width: fit-content;
    height: fit-content;
}

section#dear-card div.center p {
    font-family: "Montserrat", serif;
    color: gold;
    margin: auto;
    font-size: 1.5em;
    opacity: 90%;
    text-shadow:
        0 0 5px rgba(255, 255, 0, 0.5),
        0 0 10px rgba(255, 255, 0, 0.3),
        0 0 20px rgba(255, 255, 0, 0.2),
        0 0 30px rgba(255, 255, 0, 0.1);
}

section#dear-card div.center a {
    text-decoration: none;
    font-family: "Montserrat", serif;
    color: gold;
    text-decoration: underline;
    font-size: 1em;
    padding: 0 10px;
    border-radius: 20px;
    opacity: 90%;
    text-shadow:
        0 0 5px rgba(255, 255, 0, 0.5),
        0 0 10px rgba(255, 255, 0, 0.3),
        0 0 20px rgba(255, 255, 0, 0.2),
        0 0 30px rgba(255, 255, 0, 0.1);
}

section#dear-card div.center p#guest-name {
    font-weight: bold;
}

footer {
    font-size: 0.9rem;
}

.none {
    display: none;
}

nav#nav-number {
    padding-right: 35px;
}
